@import 'node_modules/ember-frost-core/addon/styles/frost-theme';

$remodal-overlay-color: rgba($frost-color-white, .8);
$modal-bow-shadow: rgba(0, 0, 0, .25);

.remodal-overlay {
  top: 50px;
  left: 0;
  background-color: $remodal-overlay-color;
  cursor: default;
}

.frost-about-dialog {
  &.ember-remodal {
    &.window {
      position: relative;
      width: 510px;
      padding: 0;
      background-color: $frost-color-white;
      box-shadow: 0 3px 8px $modal-bow-shadow;

      .frost-button {
        outline: none;
        background: transparent;

        &:hover {
          box-shadow: none;
        }

        .icon {
          svg {
            * {
              fill: inherit;
            }

            g {
              fill: $frost-color-blue-1;
            }
            width: 20px;
            height: 20px;

            circle {
              fill: $frost-color-white;
            }
          }
        }
      }

      .close {
        position: absolute;
        top: -20px;
        right: -30px;
      }

      .header-row {
        display: flex;
        flex-direction: row;

        .branding-strip {
          width: 5px;
          height: 230px;
          overflow: hidden;

          > .frost-icon {
            width: 5px;
            height: 340px;
          }
        }
      }

      .header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 25px;

        .branding-logo {
          .blueplanet-about {
            height: 110px;
            padding: 25px 0 20px;
          }

          .ciena-about {
            height: 100px;
            padding: 25px 0;
          }
        }

        .title {
          padding-bottom: 5px;
          color: $frost-color-grey-3;
          font-size: $frost-font-xl;
        }

        .dialog-message {
          margin-bottom: 25px;
          color: $frost-color-grey-5;
          font-size: $frost-font-s;
        }

        .server-message {
          color: $frost-color-grey-5;
          font-size: $frost-font-xs;
        }

        .server-message + .server-message {
          padding-top: 5px;
        }
      }

      .body {
        padding: 0 5px 0 25px;
        background-color: $frost-color-lgrey-3;
        color: $frost-color-grey-5;
        font-size: $frost-font-xs;

        .read-only {
          margin-top: 25px;
          margin-right: 25px;
          margin-bottom: 25px;
          text-align: left;
        }

        .license-text+.license-text {
          padding-top: 10px;
        }
      }
    }
  }
}
